$primary: #5d97f7;
$gray: #afafaf;
$radius: 28rpx;
$shadow: 0 0 20rpx 10rpx rgba(0, 0, 0, 0.01);
.radius {
  border-radius: $radius;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: $shadow;
}